
*.o

*.Po

lab1/autom4te.cache/

lab1/aclocal.m4

lab1/compile

lab1/config.guess

lab1/config.h

lab1/config.h.in

lab1/config.log

lab1/config.status

lab1/config.sub

lab1/configure

lab1/depcomp

lab1/install-sh

lab1/libtool

lab1/ltmain.sh

lab1/Makefile

lab1/Makefile.in

lab1/missing

lab1/out.pgm

lab1/src/dragonizer

lab1/src/libdragon.a

lab1/src/libdragontbb.a

lab1/src/Makefile

lab1/src/Makefile.in

lab1/stamp-h1

lab1/test-driver

lab1/tests/dragon_check_failed_pthread.ppm

lab1/tests/dragon_check_failed_serial.ppm

lab1/tests/Makefile

lab1/tests/Makefile.in

lab1/tests/test-all.sh.log

lab1/tests/test-all.sh.trs

lab1/tests/test-suite.log

lab1/.idea/lab1.iml

lab1/.idea/misc.xml

lab1/.idea/modules.xml

lab1/.idea/vcs.xml

lab1/.idea/workspace.xml

lab1/callgrind.out.19449

lab1/dragon.ppm

lab1/results/dragon_serial_26.pgm

lab1/results/time_dragonizer_draw_serial_26.data

lab1/results/time_dragonizer_limits_serial_26.data

lab1/results/time_dragonizer.data

lab2/src.zip

lab2/encode.zip

.vscode/settings.json

lab3/config.h

lab3/config.log

lab3/config.status

lab3/examples/Makefile

lab3/libtool

lab3/Makefile

lab3/src/Makefile

lab3/stamp-h1

lab3/tests/Makefile

lab3/examples/mpi1

lab3/examples/mpi2

lab3/examples/mpi3

lab3/examples/mpi4

lab3/examples/mpi5

lab3/examples/mpi6

lab3/examples/mpi7

lab3/src/exchng

lab3/src/heatsim

lab3/src/libinf.a

lab3/tests/libunittest.a
